<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Datos</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
	<meta charset="utf-8" />
	<script src="../js/eventos.js" th:src="@{/js/eventos.js}" defer></script>
</head>

<body>
	<div th:replace="~{fragmentos/nav::nav}"></div>
	<h1>EVENTOS</h1>

	
	<div class="container">
		<h2>PROCESIONES</h2><hr>
	    <div class="row justify-content-center">
	        <div class="col">
	            <table class="table table-striped table-bordered">
	                <thead class="thead-dark">
	                    <tr>
	                        <th scope="col">ID</th>
	                        <th scope="col">Nombre</th>
	                        <th scope="col">Fecha</th>
	                        <th scope="col">Hora</th>
	                        <th scope="col">Duración</th>
	                        <th scope="col">Ciudad</th>
							<th scope="col">KM a Recorrer</th>
							<th scope="col">Bus</th>
	                        <th scope="col">Musicos Necesarios</th>
	                        <th scope="col">Dinero Pagado</th>
							<th scope="col">Hermandad</th>
							<th scope="col">Titular</th>
							<th scope="col">Dinero Horas Extras</th>
							<th scope="col">Acciones</th>
							
	                    </tr>
	                </thead>
	                <tbody>
	                    
	                    <tr th:each="procesion : ${procesion}">
	                        <td th:text="${procesion.id}"></td>
	                        <td th:text="${procesion.nombre}"></td>
	                        <td th:text="${procesion.fecha}"></td>
	                        <td th:text="${procesion.hora}"></td>
	                        <td th:text="${procesion.duracion}"></td>
	                        <td th:text="${procesion.ciudad}"></td>
							<td th:text="${procesion.kmARecorrer}"></td>
							<td th:text="${procesion.bus} != null ? ${procesion.bus.nombre} : 'No hay Bus'"></td>
	                        <td th:text="${procesion.musicosNecesarios}"></td>
							<td th:text="${procesion.dineroPagado}"></td>
							<td th:text="${procesion.hermandad}"></td>
							<td th:text="${procesion.titular}"></td>
							<td th:text="${procesion.precioHorasExtras}"></td>
							<td>	
	                            <a class="btn btn-primary" th:href="@{/admin/evento/editar/procesion/{id}(id=${procesion.id})}">Editar</a>
	                            <a class="btn btn-danger" th:onclick="'javascript:confirmarEliminacionProcesion(' + ${procesion.id} + ')'">Eliminar</a>
	                        </td>
	                    </tr>
	                </tbody>
	            </table>
				<h2>CONCIERTOS</h2><hr/>
				<table class="table table-striped table-bordered">
					                <thead class="thead-dark">
					                    <tr>
					                        <th scope="col">ID</th>
					                        <th scope="col">Nombre</th>
					                        <th scope="col">Fecha</th>
					                        <th scope="col">Hora</th>
					                        <th scope="col">Duración</th>
					                        <th scope="col">Ciudad</th>
											<th scope="col">KM a Recorrer</th>
											<th scope="col">Bus</th>
					                        <th scope="col">Musicos Necesarios</th>
					                        <th scope="col">Dinero Pagado</th>
											<th scope="col">Aforo</th>
											<th scope="col">Precio Entradas</th>
											<th scope="col">Acciones</th>
											
					                    </tr>
					                </thead>
					                <tbody>
					                    
					                    <tr th:each="concierto : ${concierto}">
					                        <td th:text="${concierto.id}"></td>
					                        <td th:text="${concierto.nombre}"></td>
					                        <td th:text="${concierto.fecha}"></td>
					                        <td th:text="${concierto.hora}"></td>
					                        <td th:text="${concierto.duracion}"></td>
					                        <td th:text="${concierto.ciudad}"></td>
											<td th:text="${concierto.kmARecorrer}"></td>
											<td th:text="${concierto.bus} != null ? ${concierto.bus.nombre} : 'No hay Bus'"></td>
					                        <td th:text="${concierto.musicosNecesarios}"></td>
											<td th:text="${concierto.dineroPagado}"></td>
											<td th:text="${concierto.aforo}"></td>
											<td th:text="${concierto.precio}"></td>
											<td>	
					                            <a class="btn btn-primary" th:href="@{/admin/evento/editar/concierto/{id}(id=${concierto.id})}">Editar</a>
					                            <a class="btn btn-danger" th:onclick="'javascript:confirmarEliminacionConcierto(' + ${concierto.id} + ')'">Eliminar</a>
					                        </td>
					                    </tr>
					                </tbody>
					            </table>
	        </div>
	    </div>
	</div>
		<a class="btn btn-primary" th:href="@{/admin/evento/nuevo/procesion}">Añadir Procesión</a>
		<a class="btn btn-primary" th:href="@{/admin/evento/nuevo/concierto}">Añadir Concierto</a>
	</div>
	
	<footer th:replace="~{fragmentos/footer::footer}"></footer>
</body>

</html>