<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Datos</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
	<meta charset="utf-8" />
</head>

<body>
	<h2>EVENTOS</h2>

	<!-- 
		Solo una pequeña página para mostrar los campos del objeto recogido desde el formulario
    -->
	<div class="container">
	    <div class="row justify-content-center">
	        <div class="col">
	            <table class="table table-striped table-bordered">
	                <thead class="thead-dark">
	                    <tr>
	                        <th scope="col">ID</th>
	                        <th scope="col">Nombre</th>
	                        <th scope="col">Fecha</th>
	                        <th scope="col">Hora</th>
	                        <th scope="col">Duración</th>
	                        <th scope="col">Ciudad</th>
	                        <th scope="col">Musicos Necesarios</th>
	                        <th scope="col">Dinero Pagado</th>
							<th scope="col">Imagen</th>
							<th scope="col">Hermandad</th>
							<th scope="col">Titular</th>
							<th scope="col">Dinero Horas Extras</th>
							
	                    </tr>
	                </thead>
	                <tbody>
	                    
	                    <tr th:each="evento : ${evento}">
	                        <td th:text="${evento.id}"></td>
	                        <td th:text="${evento.nombre}"></td>
	                        <td th:text="${evento.fecha}"></td>
	                        <td th:text="${evento.hora}"></td>
	                        <td th:text="${evento.duracion}"></td>
	                        <td th:text="${evento.ciudad}"></td>
	                        <td th:text="${evento.musicosNecesarios}"></td>
							<td th:text="${evento.dineroPagado}"></td>
							<td th:text="${evento.urlImg}"></td>
							<td th:text="${evento.hermandad}"></td>
							<td th:text="${evento.titular}"></td>
							<td th:text="${evento.dineroHorasExtras}"></td>
	                            <a class="btn btn-primary" th:href="@{/editar/{id}(id=${musico.id})}">Editar</a>
	                            <a class="btn btn-danger" th:href="@{/eliminar/{id}(id=${musico.id})}">Eliminar</a>
	                        </td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>
		<a class="btn btn-primary" th:href="@{/nuevo/procesion}">Añadir Procesión</a>
		<a class="btn btn-primary" th:href="@{/nuevo/concierto}">Añadir Concierto</a>
	</div>
</body>

</html>