<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMUECI - Procesión</title>

    <link rel="stylesheet" href="../css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <div th:replace="~{fragmentos/nav::nav}"></div>

	<div class="container">
	  <div class="row justify-content-center text-center">
	    <div class="col-md-6">
	      <h1 class="display-2 mb-4" th:text="${procesion.nombre} + ' ' + ${procesion.fecha}"></h1>
	      <p><i class="bi bi-alarm"></i> HORA: <span th:text="${procesion.hora}"></span></p>
	      <p><i class="bi bi-pin-map"></i> UBICACIÓN: <span th:text="${procesion.ciudad}"></span></p>
	      <p><i class="bi bi-bank"></i> HERMANDAD: <span th:text="${procesion.hermandad}"></span></p>
	      <p><i class="bi bi-music-note-beamed"></i> TITULAR: <span th:text="${procesion.titular}"></span></p>
	    </div>
	    <div class="col-md-6">
	      <img th:src="${procesion.urlImg}" alt="CartelEvento" class="img-fluid w-75">
	    </div>
	  </div>
	</div>


	<footer th:replace="~{fragmentos/footer::footer}"></footer>

    



</body>

</html>	