<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMUECI - Escuela</title>

    <link rel="stylesheet" href="../css/bootstrap.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>
    <div th:replace="~{fragmentos/nav::nav}"></div>

	<div class="container">
			<div class="row justify-content-center d-flex">
	
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-12 col-md-8">
							<h1 class="pt-2">Nuestra Escuela</h1>
							<hr>
							<p>La Escuela de Música "Maestro Enrique López Gómez", parte integral de AMUECI, fue fundada en 2009
								como un semillero de talento musical en Écija. Bajo la dirección de Francisco Alhama Blanco y David
								Ruiz Carmona, la escuela se reorganizó con un plan de estudios de 4 años, equivalente al grado
								elemental de música.</p>
							<p>En honor a D. Enrique López Gómez, la escuela fue bautizada con su nombre en una emotiva ceremonia en
								2011. Desde entonces, la escuela ha sido un punto de referencia para la formación musical en la
								ciudad.</p>
							<p>Nuestro plan de estudios incluye especialidades como oboe, flauta travesera, clarinete, fagot,
								saxofón, trompeta, trombón, trompa, bombardino, tuba, percusión, guitarra y piano. Además, ofrecemos
								asignaturas como Instrumento Principal, Lenguaje Musical y Colectivas, junto con talleres y
								actividades culturales durante todo el año.</p>
							<p>Nos enorgullece la dedicación de nuestros nueve profesores y el éxito de nuestros alumnos, muchos de
								los cuales continúan sus estudios en conservatorios y se unen a la Banda de Música AMUECI.</p>
							<p>¡Únete a nuestra comunidad musical y descubre tu talento en la Escuela de Música "Maestro Enrique
								López Gómez"!</p>
			
							<img src="../img/enrique-con-sus-alumnos.jpg" alt="Enrique con sus alumnos" class="img-fluid">
			
						</div>
					</div>
					<!-- Offcanvas lateral -->
					<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
						<div class="offcanvas-header">
							<h5 class="offcanvas-title" id="offcanvasLabel">Quiénes Somos</h5>
							<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
								aria-label="Close"></button>
						</div>
						<div class="offcanvas-body">
							<ul><a href="director">Nuestro Director</a></ul>
							<ul><a href="ubicacion">Ubicacion</a></ul>
						</div>
					</div>
	
					<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
						aria-controls="offcanvas">
						Más Sobre Nosotros
					</button>
				</div>
			</div>
		</div>

	

    

	<footer th:replace="~{fragmentos/footer::footer}"></footer>


</body>

</html>	