<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Listado Musicos</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
	<meta charset="utf-8" />
</head>

<body>
	<h>MÚSICOS</h></h2>

	<!-- 
		Solo una pequeña página para mostrar los campos del objeto recogido desde el formulario
    -->
	<div class="container text-center">
		<table>
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">DNI</th>
					<th scope="col">Nombre</th>
					<th scope="col">Apellidos</th>
					<th scope="col">Contrasenia</th>
					<th scope="col">Tipo Instrumento</th>
					<th scope="col">Fecha Alta</th>	
				</tr>
			</thead>
			<tbody>
				<tr th:each="musico : ${musico}">
					<td th:text="${musico.id}"></td>
					<td th:text="${musico.dni}"></td>
					<td th:text="${musico.nombre}"></td>
					<td th:text="${musico.apellidos}"></td>
					<td th:text="${musico.contrasenia}"></td>
					<td th:text="${musico.tipoInstrumento}"></td>
					<td th:text="${musico.fechaAlta}"></td>
					<td>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	

</body>

</html>