<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AMUECI - Inicio</title>

	<link rel="stylesheet" href="../css/bootstrap.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</head>

<body>
	<div th:replace="~{fragmentos/nav::nav}"></div>

	<div class="container">
	    <h2>PROCESIONES</h2>
	    <div class="row row-cols-1 row-cols-md-3 mt-5">
	      <!-- Aquí comienza el bucle para las procesiones -->
	      <div th:each="procesion : ${procesion}" class="col mt-5">
	        <div class="card">
	          <img th:src="${procesion.urlImg}" alt="CartelEvento" class="card-img-top">
	          <div class="card-body">
	            <h5 th:text="${procesion.nombre} + ' ' + ${procesion.fecha}" class="card-title"></h5>
	            <p th:text="${procesion.hora}" class="card-text"></p>
	            <p>Ubicación: <span th:text="${procesion.ciudad}" class="card-text"></span></p>
	            <a th:href="@{/cartas/eventos/procesion/{id}(id=${procesion.id})}" class="btn btn-primary">Más info</a>
	          </div>
	        </div>
	      </div>
	      <!-- Aquí termina el bucle para las procesiones -->
	    </div>
	
	    <h2>CONCIERTOS</h2>
	    <div class="row row-cols-1 row-cols-md-3 mt-5">
	      <!-- Aquí comienza el bucle para los conciertos -->
	      <div th:each="concierto : ${concierto}" class="col mt-5">
	        <div class="card">
	          <img th:src="${concierto.urlImg}" alt="CartelEvento" class="card-img-top">
	          <div class="card-body">
	            <h5 th:text="${concierto.nombre} + ' ' + ${concierto.fecha}" class="card-title"></h5>
	            <p th:text="${concierto.hora}" class="card-text"></p>
	            <p>Ubicación: <span th:text="${concierto.ciudad}" class="card-text"></span></p>
	            <a th:href="@{/cartas/eventos/concierto/{id}(id=${concierto.id})}" class="btn btn-primary">Más info</a>
	          </div>
	        </div>
	      </div>
	      <!-- Aquí termina el bucle para los conciertos -->
	    </div>
	  </div>



	


</body>

</html>