<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	
	<footer class="bg-primary text-dark sticky-bottom mt-3" th:fragment="footer">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-4">
	                    <h3>Enlaces</h3>
	                    <ul>
	                        <li><a href="#" class="btn btm-primary text-success">Inicio</a></li>
	                        <li><a href="#"	class="btn btm-primary text-success">Acerca de</a></li>
	                        <li><a href="#" class="btn btm-primary text-success">Contacto</a></li>
	                    </ul>
	                </div>
	                <div class="col-lg-4">
	                    <h3>Contacto</h3>
	                    <p>Correo electrónico: castilla.caalv24@triana.salesianos.edu</p>
	                    <p>Teléfono: 675 31 40 70</p>
	                </div>
	                <div class="col-lg-4">
	                    <h3>Derechos de autor</h3>
	                    <p>(c) 2023 Mi Sitio Web. Todos los derechos reservados.</p>
	                </div>
	            </div>
	        </div>
	    </footer>

</body>
</html>